[Unit]
Description=container with {{ game_project_name }}
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=docker
Group=docker
WorkingDirectory={{ game_work_directory }}
ExecStart=docker compose up -d
ExecStop=docker compose stop

[Install]
WantedBy=multi-user.target

