version: "3.7"
services:
  2048-game:
    image: {{ game_registry_url }}:{{ game_image_docker_tag }}
    container_name: "{{ game_project_name }}"
    hostname: "{{ game_project_name }}"
    ports:
      - "{{ docker_host_port }}:{{ docker_container_port }}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80 || exit 1"]
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s

