global
        log "{{ haproxy_config_global_log }}"    local0
        log "{{ haproxy_config_global_log }}"    local1 notice
        chroot "{{ haproxy_config_chroot }}"
        stats socket "{{ haproxy_config_stats_socket }}" mode 660 level admin expose-fd listeners
        stats timeout "{{ haproxy_config_stats_timeout }}"
        user "{{ haproxy_user }}"
        group {{ haproxy_group }}
        daemon

        # Default SSL material locations
        ca-base "{{ haproxy_config_ca_base }}"
        crt-base "{{ haproxy_config_crt_base }}"

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        log     "{{ haproxy_config_faults_log }}"
        mode    "{{ haproxy_config_faults_mode }}"
        option  httplog
        option  dontlognull
        timeout connect "{{ haproxy_config_faults_timeout_connect }}"
        timeout client  "{{ haproxy_config_faults_timeout_client }}"
        timeout server  "{{ haproxy_config_faults_timeout_server }}"
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http
		
listen stats
        bind "{{ haproxy_config_listen_stats_bind_ip_address }}":"{{ haproxy_config_listen_stats_bind_ip_port }}"
        mode "{{ haproxy_config_listen_stats_mode }}"
	stats "{{ haproxy_config_listen_stats_enable }}"
	stats uri "{{ haproxy_config_listen_stats_uri }}"
	stats realm "{{ haproxy_config_listen_stats_realm }}"
	stats auth "{{ haproxy_config_listen_stats_auth }}"
	stats "{{ haproxy_config_listen_stats_param }}"
		
frontend prometheus
        bind "{{ haproxy_config_listen_prometheus_bind_ip_address }}":"{{ haproxy_config_listen_prometheus_bind_port }}"
        mode "{{ haproxy_config_listen_prometheus_mode }}"
        http-request "{{ haproxy_config_listen_prometheus_http_request }}"
		
====================================================================================

frontend "{{ haproxy_config_frontend_name }}"
        bind "{{haproxy_config_frontend_bind_ip_address}}":"{{ haproxy_config_frontend_bind_port }}"
        default_backend {{ haproxy_config_backend_name }}
		
backend "{{ haproxy_config_backend_name }}"
  balance "{{ haproxy_backend_balance_method }}"
{% for host in groups[load_balancer.group] %}
  server {{ host }} {{ hostvars[host].ansible_host }}:{{ haproxy_config_backend_server_port }} check
{% endfor %}

====================================================================================